html{
    scroll-behavior: smooth;
}

body{
    font-family: 'HarmonyOS_Sans',sans-serif;
    font-weight: 500;
    background: #010101;
}

#hero{
    padding: 0 50px;
    padding-top: 15px;
    background: linear-gradient(90deg, #8E2DE2 -29.3%, #4A00E0 124.84%);
    position: relative;
    overflow: hidden;
}

#hero>.container-fluid{
    z-index: 999;
    position: relative;
    padding: 0;
}

nav{
    background-color: #1B1819;
    padding: 15px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav .nav-link{
    font-size: 16px;
    color: #FAFAFA;
}

#apropos .nav-btn{
    width: fit-content;
    height: 56px;
    font-size: 18px;
}
.nav-btn:focus,
.nav-btn:active,
.nav-btn:hover,
.nav-btn{
    background: linear-gradient(90deg, #8E2DE2 -29.3%, #4A00E0 124.84%);
    border-radius: 100px;
    max-width: fit-content;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 30px;
    gap: 20px;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.bg-overlay{
    position: absolute;
    background-image: url('../img/Background_Shapes.svg');
    background-repeat: no-repeat;
    mix-blend-mode: luminosity;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

.hello{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.hero-title{
    font-weight: 900;
    font-size: 55px;
    line-height: 75px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero-title span{
    background-color: #010101;
    border-radius: 2px;
    display: inline-block;
    padding: 5px;
}

.hero-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero-btn:hover,
.hero-btn:active,
.hero-btn:focus,
.hero-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 209px;
    width: 100%;
    height: 56px;
    background: #0A0708;
    border-radius: 100px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.hero-content-left{
    padding-top: 145px;
    padding-bottom: 145px;
}

.bg-profil{
    position: relative;
    height: 100%;
    /* z-index: 999; */
}

.bg-profil img{
    position: absolute;
    bottom: 100px;
    scale: 1.5;
    right: 50px;
}

#clients{
    padding: 116px 0;
}

.clients-text{
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.clients-logo-list{
    display: flex;
    justify-content: space-around;
    /* gap: 45px; */
    padding: 45px 0;
    flex-wrap: wrap;
}

.client-logo-item{
    padding: 20px 15px;
    height: 80px;
    width: 114px;
    margin-bottom: 10px;
}

.client-logo-item img {
   height:100%
}


#apropos{
    padding-bottom: 80px;
    position: relative;
}

#apropos>.container-fluid{
    position: relative;
    z-index: 999;
}

.apropos-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../img/Background_Shapes-2.svg');
    background-repeat: no-repeat;
    background-position: center right;
    z-index: 9;
    opacity: 0.5;
}

#apropos h2{
    font-weight: 700;
    font-size: 46px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

#apropos p{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* text-decoration-line: underline; */
    color: #FFFFFF;
    margin-bottom: 40px;
}

.project-item{
    height: 560px;
    display: flex;
    gap: 35px;
    align-items: center;
    border-radius: 35px;
    background-color: #CBDFC3;
    overflow: hidden;
    margin-bottom: 45px;
}

.project-info{
    padding-left: 90px;
}

.project-name{
    font-weight: 900;
    font-size: 46px;
    line-height: 54px;
    color: #010101;
    margin-bottom: 30px;
}

.project-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #010101;
    margin-bottom: 35px;
}

.project-link:hover,
.project-link:focus,
.project-link:active,
.project-link{
    max-width: fit-content;
    width: 100%;
    height: 51px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #010101;
    border-radius: 100px;
    font-size: 16px;
    padding: 0 30px;
    color: #010101;
    text-decoration: none;
}

.project-link-white:hover,
.project-link-white:focus,
.project-link-white:active,
.project-link-white{
    border-color: rgba(255, 255, 255, 0.32);
    background: #0A0708;
    color: #FFFFFF;
}

.project-img{
    border-radius: 35px;
    overflow: hidden;
}

#avis{
    padding: 130px 0;
    padding-bottom: 0;
}

.avis-item{
    margin: 50px 0;
}

.avis-about{
    display: flex;
    /*align-items: center;*/
    gap: 15px;
}

.avis-author{
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 17px;
}

.avis-author span{
    opacity: 0.7;
}

.avis-stars{
    margin-bottom: 15px;
}

.avis-content{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

#engagement{
    max-width: 865px;
    margin: 0 auto;
    padding: 180px 0;
    background-image: url('../img/Background_Shapes-3.svg');
    mix-blend-mode: luminosity;
    background-size: 500px 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.engagement-text-emoji{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.engagement-text-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.engagement-text-title strike{
    font-weight: 500;
}

.engagement-text-content{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;    
}

.engagement-text-content strong{
    font-weight: 700;
}

#cta{
    margin: 0 28px;
    border-radius: 35px;
    margin-bottom: 120px;
    position: relative;
    overflow: hidden;
}

#cta>.container-fluid{
    padding: 0;
}

.cta-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    position: relative;
    z-index: 9999;
    padding-left: 55px;
}

.cta-text h3{
    font-weight: 900;
    font-size: 46px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.cta-text p{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.cta-text a{
    display: flex;
    align-items: center;
    padding: 18px 30px;
    gap: 20px;
    max-width: 220px;
    width: fit-content;
    height: 56px;
    background: #0A0708;
    border-radius: 100px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.cta-img{
    position: relative;
    z-index: 9999;
}

.cta-img img{
    position: absolute;
    bottom: 0;
}

.cta-bg-overlay-1{
    position: absolute;
    background: linear-gradient(90deg, #8E2DE2 -29.3%, #4A00E0 124.84%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.cta-bg-overlay-2{
    position: absolute;
    background-image: url('../img/cta-bg.png');
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    mix-blend-mode: luminosity;
}

.cta-bg-overlay-3{
    position: absolute;
    background: linear-gradient(89.94deg, #8E2DE2 0.05%, rgba(108, 23, 225, 0.74) 62.41%, rgba(74, 0, 224, 0) 124.77%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.footer-list-link p{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-list-link p a{
    color: #FFFFFF;
    font-weight: 500;
}

.buy-coffee p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.footer-copyright-and-logo{
    margin: 65px 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-copyright-and-logo a,
.footer-copyright-and-logo p{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.open-menu-sm{
    background-color: transparent;
    border: none;
    display: none;
}

.menu{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    flex: 0 0 85%;
}

.menu-mobile{
    display: none;
}

.container-fluid{
    padding: 0 28px;
}

/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
    .cta-text{
        padding-left: 50px;
    }
    .bg-profil img{
        bottom: 70px;
        right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .bg-overlay{
        background-size: cover;
    }
    #hero{
        padding-left: 18px;
        padding-right: 18px;
    }
    .container-fluid{
        padding: 0 20px;
    }
    .clients-logo-list{
        overflow: hidden;
        flex-wrap: nowrap;
        gap: 10px;
    }
    .cta-text h3 {
        font-size: 36px;
        line-height: 40px;
    }
    .cta-text {
        padding-left: 25px;
    }
    .project-info {
        padding-left: 50px;
    }
    .project-item{
        height: 450px;
    }
    .bg-profil img {
        bottom: 50px;
    }
    .hero-title{
        font-size: 40px;
    }
    nav{
        flex-wrap: wrap;
        border-radius: 30px;
    }
    .menu{
        height: 0;
        overflow: hidden;
        flex:0 0 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
    }
    .menu.show{
        height: 450px;
    }
    .menu .nav{
        flex-direction: column;
        align-items: center;
    }
    .menu .nav-btn{
        margin-top: 4rem;
    }
    .open-menu-sm.active{
        transform: rotate(90deg);
    }
    .menu-mobile{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -1000px;
        z-index: 9999;
        width: 50%;
        height: 100%;
        background-color: #1B1819;
        padding: 40px 25px;
        transition: all 0.5s;
    }
    .menu-mobile.show{
        left: 0;
    }
    .menu-mobile .nav{
        flex-direction: column;
    }
    .menu-mobile a{
        margin-bottom: 1rem;
    }
    .menu .nav .nav-link{
        font-size: 22px;
        color: #FAFAFA;
        margin-bottom: 1rem;
        padding: 0;
    }
    .open-menu-sm{
        display: block;
        transition: all 0.25s;
    }
}

@media only screen and (max-width: 576px) {
    .bg-overlay{
        background-image: url('../img/Background_Shapes-mobile.svg');
        background-size: contain;
        background-position: top center;
    }
    .cta-text p{
        font-size: 18px;
    }
    #cta{
        margin: 0 16px;
        padding: 20px;
        margin-bottom: 120px;
    }
    .clients-logo-list{
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 10px 50px;
    }
    .menu-mobile{
        width: 75%;
    }
    .footer-copyright-and-logo a, .footer-copyright-and-logo p{
        line-height: 26px;
    }
    .footer-copyright-and-logo{
        align-items: start;
    }
    .buy-coffee{
        padding-top: 60px;
    }
    .buy-coffee a{
        display: inline-block;
        margin-left: 15px;
    }
    .buy-coffee p{
        width: 90%;
        padding: 0 15px;
        font-size: 14px;
    }
    .footer-list-link p{
        font-size: 18px;
        line-height: 28px;
        padding: 0 10px;
    }
    .cta-text{
        padding: 76px 0 60px 0;
    }
    .cta-text h3{
        font-size: 34px;
        line-height: 39.85px;
    }
    .engagement-text-content{
        font-size: 18px;
    }
    .engagement-text-title{
        font-size: 25px;
        line-height: 29.3px;
    }
    .engagement-text-emoji{
        font-size: 25px;
        margin-bottom: 25px;
    }
    #engagement{
        background-size: 318.33px 380px;
        padding-top: 0;
        padding-bottom: 120px;
    }
    .avis-content{
        font-size: 18px;
        line-height: 28px;
    }
    .avis-author{
        font-size: 16px;
        line-height: 28px;
    }
    .avis-item{
        margin: 35px 0;
    }
    #avis{
        padding: 120px 0;
    }
    .project-text{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .project-name{
        font-size: 32px;
        line-height: 37.5px;
        margin-bottom: 15px;
    }
    .project-info{
        padding: 20px;
        padding-bottom: 45px;
    }
    .project-img{
        height: 400px;
    }
    .project-item{
        flex-direction: column-reverse;
        height: auto;
    }
    #projects{
        padding: 0;
    }
    .apropos-bg{
        background-size: 250px 250px;
        background-position: 120% 50px;
        opacity: 0.5;
    }
    #apropos p{
        font-size: 18px;
    }
    #apropos h2{
        font-size: 32px;
        line-height: 37.5px;
    }
    #apropos{
        padding: 0;
        padding-bottom: 120px;
    }
    #clients{
        padding: 65px 0;
    }
    .clients-text{
        font-size: 20px;
    }
    .hero-text{
        font-size: 16px;
    }
    .hero-title{
        font-size: 32px;
        line-height: 52px;
    }
    .hello{
        font-size: 17px;
    }
    .hero-content-left{
        padding-top: 75px;
        padding-bottom: 30px;
    }
    .bg-profil img{
        position: relative;
        bottom: -20px;
        scale: 1;
    }
}